@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WallsCalculator.Models.Enums
@model WallsCalculator.Models.BalkCalculationInput

@{
    ViewData["Title"] = "Стена из бруса";
}

<div>
    <a asp-controller="Home" asp-action="Index">Назад</a>
</div>

<div class="font-weight-bold h3 text-center my-5 text-secondary">
    <span>Расчет стен из бруса</span>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Calculator" asp-action="BalkCalculatorIndex">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Perimeter" class="control-label"></label>
                <input onkeypress="isNumber(event)" asp-for="Perimeter" class="form-control" placeholder="0 мм"/>
                <span asp-validation-for="Perimeter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AngleHeight" class="control-label"></label>
                <input onkeypress="isNumber(event)" asp-for="AngleHeight" class="form-control" placeholder="0 мм"/>
                <span asp-validation-for="AngleHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalkType" class="control-label"></label>
                <select class="form-control" asp-for="BalkType" asp-items="Html.GetEnumSelectList<BalkType>()">
                </select>
                <span asp-validation-for="BalkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalkWidth" class="control-label"></label>
                <input onkeypress="isNumber(event)" asp-for="BalkWidth" class="form-control" placeholder="0 мм"/>
                <span asp-validation-for="BalkWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalkHeight" class="control-label"></label>
                <input onkeypress="isNumber(event)" asp-for="BalkHeight" class="form-control" placeholder="0 мм"/>
                <span asp-validation-for="BalkHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalkLength" class="control-label"></label>
                <input onkeypress="isNumber(event)" asp-for="BalkLength" class="form-control" placeholder="0 руб."/>
                <span asp-validation-for="BalkLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input onkeypress="isNumber(event)" asp-for="Price" class="form-control" placeholder="0 руб."/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div id="apertures-container">
                <button type="button" class="btn btn-primary" onclick="addApertureInput('#apertures-container', 'aperture')">
                    Добавить проём
                </button>
                @{
                    await Html.RenderPartialAsync("ApertureIndex", Model?.Apertures);
                }
            </div>

            <div id="workers-container">
                <button type="button" class="btn btn-primary" onclick="addApertureInput('#workers-container', 'worker')">
                    Добавить рабочего
                </button>
                @{
                    await Html.RenderPartialAsync("WorkersIndex", Model?.Workers);
                }
            </div>

            <button type="submit" class="btn btn-primary">
                Расчитать
            </button>
        </form>
    </div>

    <div class="col-md-4">
        @{
            if (ViewBag.IsCalculated != null)
            {
                if (ViewBag.IsCalculated)
                {
                    await Html.RenderPartialAsync("BalkCalculationOutputPartial", ViewData["Result"]);
                }
                else
                {
                    <h6>Во время расчета произошла ошибка, попробуйте переввести параметры.</h6>
                }
            }
        }
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}