@using WallsCalculator.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WallsCalculator.Utils
@model WallsCalculator.Models.BrickCalculationInput

@{
    ViewData["Title"] = "Кирпичная стена";
}


<div class="font-weight-bold h3 text-center text-secondary lightViolet py-3">
    <span>Расчет кирпичных стен</span>
</div>

<div class="lineAfter">
    <a asp-controller="Home" asp-action="Index">Назад</a>
</div>

<div class="lineAfter">
    <form asp-controller="Calculator" asp-action="BrickCalculatorIndex">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row justify-content-md-center">
            <div class="col-7">
                <div class="calculatorWrapperShadow p-4 mb-4">
                    <div class="form-group">
                        <label asp-for="BrickType" class="control-label"></label>
                        <select class="form-control" asp-for="BrickType">
                            @foreach (var enumAlias in Enum.GetValues(typeof(BrickType)).Cast<BrickType>())
                            {
                                var enumValue = (int) enumAlias;
                                <option value="@enumValue">@enumAlias.GetMaterialDescription(enumAlias.GetEnumDisplayName())</option>
                            }
                        </select>
                        <span asp-validation-for="BrickType" class="text-danger"></span>
                        <img class="brickTypeImg" src="~/img/standartnyj-razmer-krasnogo-kirpicha_2.jpg"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="MasonryType" class="control-label"></label>
                        <select class="form-control" asp-for="MasonryType" asp-items="Html.GetEnumSelectList<MasonryType>()">
                        </select>
                        <span asp-validation-for="MasonryType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Perimeter" class="control-label"></label>
                        <input onkeypress="isNumber(event)" asp-for="Perimeter" class="form-control" placeholder="0 м"/>
                        <span asp-validation-for="Perimeter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AngleHeight" class="control-label"></label>
                        <input onkeypress="isNumber(event)" asp-for="AngleHeight" class="form-control" placeholder="0 см"/>
                        <span asp-validation-for="AngleHeight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DepthType" class="control-label"></label>
                        <select class="form-control" asp-for="DepthType" asp-items="Html.GetEnumSelectList<DepthType>()">
                        </select>
                        <span asp-validation-for="DepthType" class="text-danger"></span>
                        <img class="brickTypeImg" src="~/img/bricks_11.png"/>
                    </div>
                    <div class="form-group">
                        <label asp-for="MortarValue" class="control-label"></label>
                        <input onkeypress="isNumber(event)" asp-for="MortarValue" class="form-control" placeholder="0 мм"/>
                        <span asp-validation-for="MortarValue" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input onkeypress="isNumber(event)" asp-for="Price" class="form-control" placeholder="0 руб."/>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>

                <div id="apertures-container" class="calculatorWrapperShadow p-4 mb-4">
                    <img class="brickTypeImg" src="~/img/wd.jpg"/>
                    <button type="button" class="btn calculatorBtnColor" onclick="addApertureInput('#apertures-container', 'aperture')">
                        Добавить проём
                    </button>
                    @{
                        await Html.RenderPartialAsync("ApertureIndex", Model?.Apertures);
                    }
                </div>


                <div id="workers-container" class="calculatorWrapperShadow p-4 mb-4">
                    <button type="button" class="btn calculatorBtnColor" onclick="addApertureInput('#workers-container', 'worker')">
                        Добавить рабочего
                    </button>
                    @{
                        await Html.RenderPartialAsync("WorkersIndex", Model?.Workers);
                    }
                </div>

                <button type="submit" class="btn calculatorBtnColor">
                    Расчитать
                </button>
            </div>
        </div>
    </form>

    @{
        if (ViewBag.IsCalculated != null)
        {
            if (ViewBag.IsCalculated)
            {
                await Html.RenderPartialAsync("BrickCalculationOutputPartial", ViewData["Result"]);
            }
            else
            {
                <div class="row justify-content-md-center m-3" id="outputResult">
                    <div class="col-7 calculatorWrapperShadow p-4">
                        <h6 class="text-danger">Во время расчета произошла ошибка, попробуйте перевести параметры.</h6>
                    </div>
                </div>
            }
        }
    }
</div>

<div class="brickCalculator mt-5 text-secondary">
    <div class="font-weight-bold h3 text-center my-5 text-secondary text-center">Общие сведения по результатам расчетов</div>
    <div class="my-3">
        <div class="lightViolet p-3 my-4">
            Общая площадь
            <br/>
            - Сумма площади внезависимости от необходимости кладки.
        </div>
        <div class="lightViolet p-3 my-4">
            Площадь проемов
            <br/>
            - Площадь внешней стороны стен и соответствует площади необходимого утеплителя.
        </div>
        <div class="lightViolet p-3 my-4">
            Общая длина всех стен
            <br/>
            - Периметр всех стен.
        </div>
        <div class="lightViolet p-3 my-4">
            Высота стен по углам
            <br/>
            - Высота потолков в углах стен. Используется среднее значение.
        </div>
        <div class="lightViolet p-3 my-4">
            Толщина стены
            <br/>
            - Толщина готовой стены с учетом толщины растворного шва. Может незначительно отличаться от конечного результата в зависимости от вида кладки.
        </div>
        <div class="lightViolet p-3 my-4">
            Площадь, которой не нужна кладка
            <br/>
            - Общая площадь всех проёмов (окон и дверей), где не нужна кладка.
        </div>
        <div class="lightViolet p-3 my-4">
            Вид кирпича
            <br/>
            - Вид кирпича выбранного для расчета.
        </div>
        <div class="lightViolet p-3 my-4">
            Количество выбранного типа кирпича и толщины в 1 м2
            <br/>
            - Сколько кирпича в 1 м² кладки – в зависимости от видов материала и толщины шва.
        </div>
        <div class="lightViolet p-3 my-4">
            Количество кирпича необходимого для кладки
            <br/>
            - Общее количество кирпичей необходимых для постройки стен по заданным параметрам.
        </div>
        <div class="lightViolet p-3 my-4">
            Количество кирпичей в колонне
            <br/>
            - Необходимое количество кирпичей в колонне.
        </div>
        <div class="lightViolet p-3 my-4">
            Стоимость одного кирпича
            <br/>
            - Стоимость единицы материала выбранного вида кирпича.
        </div>
        <div class="lightViolet p-3 my-4">
            Стоимость кирпичей
            <br/>
            - Стоимость материалов для возведения кирпичной стены.
        </div>
        <div class="lightViolet p-3 my-4">
            Толщина раствора
            <br/>
            - Высота шва между кирпичами.
        </div>
        <div class="lightViolet p-3 my-4">
            Тип кладки кирпича
            <br/>
            - Способ кладки изделия для возведения стены.
        </div>
        <div class="lightViolet p-3 my-4">
            Число рядов кладочной сетки
            <br/>
            - Количество рядов кладочной сетки, которое будет необходимо.
        </div>
        <div class="lightViolet p-3 my-4">
            Площадь необходимой кладочной сетки
            <br/>
            - Площадь кладочной сетки, которую нужна для кладки.
        </div>
        <div class="lightViolet p-3 my-4">
            Стоимость найма рабочих
            <br/>
            - Стоимость найма всех работников, которые будут наняты для работы.
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}