<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WallsCalculator</title>

    <!--ТУТ ВКЛЮЧАЕТСЯ/ВЫКЛЮЧАЕТСЯ bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--ТУТ ВКЛЮЧАЕТСЯ/ВЫКЛЮЧАЕТСЯ bootstrap-->

    <!--ТУТ ВКЛЮЧАЕТСЯ/ВЫКЛЮЧАЕТСЯ css-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WallsCalculator.styles.css" asp-append-version="true" />
    <!--ТУТ ВКЛЮЧАЕТСЯ/ВЫКЛЮЧАЕТСЯ css-->

</head>
<body>
    <div class="container">
        <header>
            <div class="header__nav d-flex justify-content-between py-3">
                <div class="header__nav-logo d-flex text-secondary px-1">
                    <div class="header__nav-logo-img">WALLS</div>
                    <span class="font-weight-bold h4">Calculator</span>
                </div>
                <nav class="d-flex align-items-center text-secondary">
                    <a class="px-3 text-reset text-decoration-none font-weight-normal rounded-pill header__nav-btn" href="#">Главная</a>
                    <a class="px-3 text-reset text-decoration-none font-weight-normal rounded-pill header__nav-btn" href="#">Калькуляторы</a>
                    <a class="px-3 text-reset text-decoration-none font-weight-normal rounded-pill header__nav-btn" href="#">О сервисе</a>
                </nav>

                <div class="header__nav-info d-flex align-items-center text-secondary">
                    <span class="font-weight-bold">Задать вопрос</span>
                </div>
            </div>

            <div class="header__content">
                <div class="header__content-mask d-flex justify-content-center align-items-center">
                    <span class="font-weight-bold text-secondary w-75  text-center h1">
                        Lorem ipsum, dolor sit amet consectetur adipisicg elit. Nostrum, dolore?
                    </span>
                </div>
            </div>
        </header>


        <div class="content">
            @RenderBody()
        </div>


        <footer class="border-top footer text-muted">
            <div class="footer__top d-flex my-3">
                <div class="footer__top-studentInfo mr-3">
                    ФИО студента:
                    <br />
                    Адиля
                </div>
                <div class="footer__top-univerInfo mx-3">
                    Университет, кафедра:
                    <br />
                    КГАСУ, ИСиТ
                </div>

            </div>
            <div class="footer__bottom py-3 pl-2 font-weight-bold  ">
                <span>&copy; 2023 - WALLSCalculator</span>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
