
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.body {
    overflow: overlay;
}

.header__content {
    background: url('/img/chertezhi-domov.webp') no-repeat center center fixed;
}

.header__content-mask {
    height: 90vh;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    background: rgb(237 235 245 / 72%);
}

.background-main-color {
    background: rgb(237 235 245 / 72%);
}

.ourAdvantages__list {
    background: url('/img/fon_2_0.webp') no-repeat center center fixed;
}

.ourAdvantages__list-mask {
    background: rgb(237 235 245 / 72%);
}

.ourAdvantages__list-item-img {
    width: 60px;
}

.ourSevices__list-item {
    background: rgb(237 235 245 / 72%);
}

.header__nav-btn:hover {
    background: rgb(237 235 245 / 72%);
}

.footer__bottom {
    background: rgb(237 235 245 / 72%);
}

.ourAdvantages-banner-img {
    width: 500px;
}

.calculators-block-list-item-title-img {
    width: 150px;
}

.calculators-block-list-item {
    width: 350px;
}

.mask {
    background: rgb(237 235 245 / 72%);
}

.about-block-content {
    background: url('/img/wpcalc-stroitelnye-kalkulyatory-otdelka-2_62cb0794c1717.png') no-repeat center center fixed;
    background-size: cover;
}

.about-block-content-articles-list-item {
    background-color: white;
    padding: 25px 25px;
    margin: 20px 0;
}

.form-content {
    display: flex;
    flex-direction: column;
    margin: 0px 200px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.form-submitBtn {
    padding: 10px 0;
    background-color: rgb(237 235 245 / 72%);
    border: 0px;
}

.form-submitBtn:hover {
    background-color: rgb(237 235 245);
}