@model WallsCalculator.Models.BrickCalculationInput
@{
    ViewData["Title"] = "Расчет стен";
}



<div class="text-center">

    <form asp-controller="Calculator"
          asp-action="GetBricksResult"
        asp-antiforgery="true">

        <div class="form-group">
            <label asp-for="BrickType">Вид кирпича</label>
            <select class="form-control"
                asp-for="BrickType" 
                asp-items="Html.GetEnumSelectList<BrickType>()">
            </select>

            <label asp-for="Perimeter">Общая длина стен</label>
            <input class="form-control"
                asp-for="Perimeter"
                type="text" 
                placeholder = "0.0 мм"/>

            <label asp-for="AngleHeight">Средняя высота стен в углах</label>
            <input class="form-control"
                   asp-for="AngleHeight"
                   type="text"
                   placeholder="0.0 мм" />

            <label asp-for="Depth">Толщина стен</label>
            <input class="form-control"
                   asp-for="Depth"
                   type="text"
                   placeholder="0.0 мм" />

            <label asp-for="MortarDepth">Толщина раствора</label>
            <input class="form-control"
                   asp-for="MortarDepth"
                   type="text"
                   placeholder="0.0 мм" />

            <label asp-for="Price">Цена одного кирпича</label>
            <input class="form-control"
                   asp-for="Price"
                   type="text"
                   placeholder="0.0 руб." />

            <button class="btn btn-primary" type="submit">Расчитать</button>
        </div>
    </form>

</div>
