@{
    ViewData["Title"] = "Калькуляторы";
}

<div class="calculators-block text-secondary">
    <div class="calculators-block-title font-weight-bold h3 text-center text-secondary lightViolet py-3">
        <span>Сервисы</span>
    </div>

    <div class="lineAfter">
        <a asp-controller="Home" asp-action="Index">Назад</a>
    </div>

    <div class="calculators-block-list d-flex justify-content-between my-5">
        <a class="text-secondary text-decoration-none text-muted lightViolet linkToCalculator" asp-controller="Calculator" asp-action="BlockCalculatorIndex">
            <div class="calculators-block-list-item d-flex flex-column align-items-center p-3 ">
                <span class="calculators-block-list-item-title h5">
                    Расчёт строительных блоков
                </span>
                <img class="calculators-block-list-item-title-img" src="../img/3ce1e5cb28d45dbb1c785ce49f3b0a738575f4cf.png" alt="">
            </div>
        </a>
        <a class="text-secondary text-decoration-none text-muted" asp-controller="Calculator" asp-action="BrickCalculatorIndex">
            <div class="calculators-block-list-item lightViolet d-flex flex-column align-items-center  p-3 linkToCalculator">
                <span class="calculators-block-list-item-title h5">
                    Расчёт кирпича
                </span>
                <img class="calculators-block-list-item-title-img" src="../img/kirpich-282x282-1.png" alt="">
            </div>
        </a>
        <a class="text-secondary text-decoration-none text-muted" asp-controller="Calculator" asp-action="BalkCalculatorIndex">
            <div class="calculators-block-list-item lightViolet  d-flex flex-column align-items-center p-3 linkToCalculator">
                <span class="calculators-block-list-item-title h5">
                    Расчёт бруса
                </span>
                <img class="calculators-block-list-item-title-img" src="../img/vyborbrusa001-min.png" alt="">
            </div>
        </a>
    </div>

    <div class="calculators-block-articles">

        <div class="calculators-block-articles-item my-5 ">
            <div class="calculators-block-articles-item-title font-weight-bold my-2">
                Сервис расчёта строительных блоков
            </div>
            <div class="calculators-block-articles-item-text lightViolet p-3">
                <p class="absac">
                    Строительные блоки – хорошая альтернатива другим строительным материалам для возведения зданий.
                    Блоки подходят для строительства сооружений любого типа и предназначения, они больше по размеру,
                    чем кирпич, тем самым постройки из них возводятся быстрее.
                </p>

                <p class="absac" style="padding-top: 10px;">
                    Строительные блоки бывают разных видов. Чтобы выбрать нужный материал для строительства,
                    необходимо сравнить все разновидности и выбрать наилучший вариант,
                    исходя из предназначения блока, его характеристик и качества.<span class="dots">...</span>
                </p>
                <div class="more">
                    <p class="absac" style="padding-top: 10px;">
                        В расчетах могут быть учтены размеры дома, дверные и оконные проёмы,
                        а также сопутствующие материалы, такие как строительный раствор и кладочная сетка.
                    </p>

                    <div style="padding-left: 40px; padding-bottom: 10px; padding-top: 30px;">
                        -<b>Керамзитобетон</b> – это изготовленный методом вибропрессования блок,
                        в составе которого: цемент, песок, керамзит, вода. Керамзит заменил шлак в составе блоков,
                        так как является экологически чистым лёгким, недорогим, доступным материалом.
                    </div>

                    <div style="padding-left: 40px; padding-bottom: 10px">
                        - При добавлении в строительную смесь алюминиевой пудры и взаимодействии её с известью возникает
                        реакция, напоминающая брожение теста, в результате которой образуется пористая структура.
                        Пудра выступает в реакции как газообразователь, а получающийся в результате после застывания
                        пористый строительный материал называется <b>газобетоном</b>.
                    </div>

                    <div style="padding-left: 40px; padding-bottom: 10px">
                        -Отличие <b>пенобетона</b> от газобетона в том, что первый твердеет в естественных атмосферных условиях,
                        в остальном характеристики строительных материалов схожи.
                    </div>
                </div>
                <div class="myBtn">
                    Подробнее
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="calculators-block-articles-item my-5">
            <div class="calculators-block-articles-item-title font-weight-bold my-2">
                Сервис расчёта кирпича
            </div>
            <div class="calculators-block-articles-item-text lightViolet p-3">

                <p class="absac">
                    Кирпич является самым востребованным, распространенным и универсальным строительным материалом для возведения сооружений.
                    Из него можно возводить стены мало- и многоэтажных конструкций, фундаменты,
                    внутренние перегородки, использовать в качестве декоративного материала во внутренней отделке,
                    строить печи, камины, заборы и многое другое.<span class="dots">...</span>
                </p>
                <div class="more">
                    <p style="padding-top: 10px;" class="absac">
                        Существует несколько распространенных видов кирпича для любых строительных нужд:
                    </p>

                    <div style="padding-left: 40px; padding-top: 30px; padding-bottom: 10px;">
                        - <b>Облицовочный кирпич</b> - кирпич, предназначенный для наружной отделки стен и фундаментов зданий,
                        обычно выполняющий как конструктивную, так и декоративную роль.
                        Этот многоцелевой тип кирпича в значительной степени является универсальным и заменяет также и обыкновенный строительный кирпич.
                    </div>

                    <div style="padding-left: 40px; padding-bottom: 10px;">
                        - <b>Полуторный кирпич</b> представляет собой обычный кирпичный блок, но немного увеличенный в высоту.
                        Потребность в подобном материале появилась в эпоху тотальной застройки,
                        когда от строительной отрасли требовалось возводить дома быстро и с минимальными затратами.
                    </div>

                    <div style="padding-left: 40px">
                        - <b>Двойной кирпич</b> имеет увеличенную высоту на 75 мм больше, чем у рядового одинарного и на
                        52 мм больше, чем у полуторного. Используется для возведения фундаментов и стен, а также каминов и печей.
                    </div>

                    <p style="padding-top: 30px" class="absac">
                        Самый распространенный стандартный размер кирпича: 250 - 120 - 65 мм (длинна - ширина - высота),
                        так называемой первой «нормальной формы» (1НФ).
                    </p>

                    <p style="padding-top: 10px; padding-bottom: 10px" class="absac">
                        Сервис расчёта кирпича предназначен для расчета количества облицовочного, полуторного и двойного кирпича для дома
                        и цоколя, а также сопутствующих параметров и материалов, таких как количество кладочного раствора, кладочной сетки
                        и гибких связей. Так же в расчетах могут быть учтены размеры оконных и дверных проёмов необходимого количества и размеров.
                    </p>
                </div>
                <div class="myBtn">
                    Подробнее
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                    </svg>
                </div>
            </div>
        </div>

        <div class="calculators-block-articles-item my-5 ">
            <div class="calculators-block-articles-item-title font-weight-bold my-2">
                Сервис расчёта бруса
            </div>
            <div class="calculators-block-articles-item-text lightViolet p-3">
                <p class="absac">
                    Одним из экологичных материалов для строительства домов является древесина.
                    Чтобы придать ей улучшенные свойства и уникальные характеристики, сократить
                    сроки возведения домов и продлить период их функционирования-проходят дополнительную
                    обработку.
                </p>
                <p class="absac" style="padding-top: 10px;">
                    Наиболее технологичным материалом в деревянном строительстве по праву считается профилированный брус.
                    Использование этого материала дает возможность соорудить надежные и презентабельные дома.<span class="dots">...</span>
                </p>
                <div class="more">
                    <p class="absac" style="padding-top: 10px;">
                        Профилированный брус – это пиломатериал, который прошел специальную обработку на деревообрабатывающем
                        оборудовании с применением новых технологий, позволяющих придать древесине уникальную форму.
                    </p>
                    <p class="absac" style="padding-top: 10px;">
                        Профилированный брус изготавливается из деревьев хвойных пород. Виды брусьев:
                    </p>

                    <div style="padding-left: 40px; padding-top: 30px; padding-bottom: 10px;">
                        - <b>Брус из сосны</b> - это материал с квадратным или прямоугольным сечением, изготовленный из
                        бревна сосны (точнее его сердцевины) путем четырёхкратной обработки на специальном оборудовании.
                        <br />
                        Брус из сосны может быть разного сечения: 100х100, 150х100, 150х200, 200х200, 150х150 миллиметров. 
                        Длинна такого бруса чаще всего стандартна и составляет шесть метров.
                    </div>

                    <div style="padding-left: 40px; padding-bottom: 10px;">
                        -<b>Брус из ели</b> активно используется в промышленности и строительстве, 
                        в том числе при возведении частных домов. вет древесины ели близок к белому, 
                        может иметь желтый или розовый оттенок. Со временем, под действием внешних факторов, 
                        древесина темнеет. Рисунок равномерный, сучки круглые, сидят плотно и не выпадают.
                    </div>

                    <div style="padding-left: 40px; padding-bottom: 10px">
                        -<b>Брус из дуба</b> всегда считался эталоном прочности, долговечности и достатка. 
                        Дубовый брус является довольно прочным и долговечным строительным материалом. 
                        Массив дуба обладает высоким уровнем плотности. Данное сырье практически не подвергается гниению. 
                        Оно отличается красивой природной структурой, его легко обрабатывать.
                    </div>
                </div>
                <div class="myBtn">
                    Подробнее
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
                    </svg>
                </div>
            </div>
        </div>


    </div>
</div>