@{
    ViewData["Title"] = "Калькуляторы";
}

<div class="calculators-block text-secondary">
    <div class="calculators-block-title font-weight-bold h3 text-center text-secondary lightViolet py-3">
        <span>Сервисы</span>
    </div>

    <div class="lineAfter">
        <a asp-controller="Home" asp-action="Index">Назад</a>
    </div>

    <div class="calculators-block-list d-flex justify-content-between my-5">
        <a class="text-secondary text-decoration-none text-muted lightViolet linkToCalculator" asp-controller="Calculator" asp-action="BlockCalculatorIndex">
            <div class="calculators-block-list-item d-flex flex-column align-items-center p-3 ">
                <span class="calculators-block-list-item-title h5">
                    Расчёт строительных блоков
                </span>
                <img class="calculators-block-list-item-title-img" src="../img/3ce1e5cb28d45dbb1c785ce49f3b0a738575f4cf.png" alt="">
            </div>
        </a>
        <a class="text-secondary text-decoration-none text-muted" asp-controller="Calculator" asp-action="BrickCalculatorIndex">
            <div class="calculators-block-list-item lightViolet d-flex flex-column align-items-center  p-3 linkToCalculator">
                <span class="calculators-block-list-item-title h5">
                    Расчёт кирпича
                </span>
                <img class="calculators-block-list-item-title-img" src="../img/kirpich-282x282-1.png" alt="">
            </div>
        </a>
        <a class="text-secondary text-decoration-none text-muted" asp-controller="Calculator" asp-action="BalkCalculatorIndex">
            <div class="calculators-block-list-item lightViolet  d-flex flex-column align-items-center p-3 linkToCalculator">
                <span class="calculators-block-list-item-title h5">
                    Расчёт бруса
                </span>
                <img class="calculators-block-list-item-title-img" src="../img/vyborbrusa001-min.png" alt="">
            </div>
        </a>
    </div>

    <div class="calculators-block-articles">

        <div class="calculators-block-articles-item my-5 ">
            <div class="calculators-block-articles-item-title font-weight-bold my-2">
                Сервис расчёта строительных блоков
            </div>
            <div class="calculators-block-articles-item-text lightViolet p-3">
                Строительные блоки – хорошая альтернатива другим строительным материалам для возведения зданий.
                Блоки подходят для строительства сооружений любого типа и предназначения, они больше по размеру,
                чем кирпич, тем самым постройки из них возводятся быстрее.
                <br />
                <br />
                Строительные блоки бывают разных видов. Чтобы выбрать нужный материал для строительства,
                необходимо сравнить все разновидности и выбрать наилучший вариант,
                исходя из предназначения блока, его характеристик и качества.
                <br />
                <br />
                В расчетах могут быть учтены размеры дома, дверные и оконные проёмы,
                а также сопутствующие материалы, такие как строительный раствор и кладочная сетка.
                <br />
                <br />

                <div style="padding-left:40px; padding-bottom: 40px">
                    -<b>Керамзитобетон</b> – это изготовленный методом вибропрессования блок,
                    в составе которого: цемент, песок, керамзит, вода. Керамзит заменил шлак в составе блоков,
                    так как является экологически чистым лёгким, недорогим, доступным материалом.
                </div>

                <div style="padding-left: 40px; padding-bottom: 40px">
                    - При добавлении в строительную смесь алюминиевой пудры и взаимодействии её с известью возникает
                    реакция, напоминающая брожение теста, в результате которой образуется пористая структура.
                    Пудра выступает в реакции как газообразователь, а получающийся в результате после застывания
                    пористый строительный материал называется <b>газобетоном</b>.
                </div>

                <div style="padding-left: 40px; padding-bottom: 40px">
                    -Отличие <b>пенобетона</b> от газобетона в том, что первый твердеет в естественных атмосферных условиях,
                    в остальном характеристики строительных материалов схожи.
                </div>
            </div>
        </div>

        <div class="calculators-block-articles-item my-5">
            <div class="calculators-block-articles-item-title font-weight-bold my-2">
                Сервис расчёта кирпича
            </div>
            <div class="calculators-block-articles-item-text lightViolet p-3">
                Кирпич является самым востребованным, распространенным и универсальным строительным материалом для возведения сооружений.
                Из него можно возводить стены мало- и многоэтажных конструкций, фундаменты,
                внутренние перегородки, использовать в качестве декоративного материала во внутренней отделке,
                строить печи, камины, заборы и многое другое.
                <div style="padding-top: 10px;">Существует несколько распространенных видов кирпича для любых строительных нужд:</div>
                <div style="padding-left: 40px; padding-top: 10px; padding-bottom: 40px ">
                    - <b>Облицовочный кирпич</b> - кирпич, предназначенный для наружной отделки стен и фундаментов зданий,
                    обычно выполняющий как конструктивную, так и декоративную роль.
                    Этот многоцелевой тип кирпича в значительной степени является универсальным и заменяет также и обыкновенный строительный кирпич.
                </div>
                <div style="padding-left: 40px; padding-bottom: 40px">
                    - <b>Полуторный кирпич</b> представляет собой обычный кирпичный блок, но немного увеличенный в высоту.
                    Потребность в подобном материале появилась в эпоху тотальной застройки,
                    когда от строительной отрасли требовалось возводить дома быстро и с минимальными затратами.
                </div>
                <div style="padding-left: 40px">
                    - <b>Двойной кирпич</b> имеет увеличенную высоту на 75 мм больше, чем у рядового одинарного и на
                    52 мм больше, чем у полуторного. Используется для возведения фундаментов и стен, а также каминов и печей.
                </div>
                <div style="padding-top: 10px">
                    Самый распространенный стандартный размер кирпича: 250 - 120 - 65 мм (длинна - ширина - высота),
                    так называемой первой «нормальной формы» (1НФ).
                </div>
                <div style="padding-top: 10px; padding-bottom: 40px">
                    Сервис расчёта кирпича предназначен для расчета количества облицовочного, полуторного и двойного кирпича для дома
                    и цоколя, а также сопутствующих параметров и материалов, таких как количество кладочного раствора, кладочной сетки
                    и гибких связей. Так же в расчетах могут быть учтены размеры оконных и дверных проёмов необходимого количества и размеров.
                </div>
            </div>
        </div>

        <div class="calculators-block-articles-item my-5 ">
            <div class="calculators-block-articles-item-title font-weight-bold my-2">
                Сервис расчёта бруса
            </div>
            <div class="calculators-block-articles-item-text lightViolet p-3">
                предназначен для расчёта количества и объема пиломатериала для строительства домов, бань и других построек.
                Автоматически производится расчет количества межвенцевого утеплителя, нагелей, венцов, стоимости и
                антикоррозийной пропитки по среднему значению. Для более точных расчетов обязательно обратитесь к
                специалистам в вашем регионе.
            </div>
        </div>


    </div>
</div>