@{
    ViewData["Title"] = "Home Page";
}
<div class="header__content">
    <div class="header__content-mask d-flex flex-column justify-content-center align-items-center">
        <span class="font-weight-bold text-secondary w-75  text-center h1">
            Расчёт стен жилого частного дома
        </span>
        <span class=" text-secondary text-center h3 mt-5">
            Онлайн-калькулятор позволяет рассчитать <br />
            основные параметры стен и материалы для жилого дома
        </span>
    </div>
</div>


<div class="ourServices d-flex flex-column my-5 text-secondary">
    <div class="ourServices__title font-weight-bold h3">
        Наши услуги
    </div>

    <div class="ourServices__list d-flex mt-3">

        <div class="ourSevices__list-item p-3 mr-3">

            <div class="ourServices_list-item-title h5 text-center my-3">
                Расчет строительных блоков
            </div>
            <div class="ourServices_list-item-text text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, repudiandae.
            </div>

            <div class="ourServices_list-item-img d-flex justify-content-center my-3">
                <img src="../img/a93.svg" alt="">
            </div>
        </div>

        <div class="ourSevices__list-item p-3  mr-3">

            <div class="ourServices_list-item-title h5 text-center my-3">
                 <a asp-controller="Calculator" asp-action="BrickCalculatorIndex">Расчет кирпича</a>
            </div>
            <div class="ourServices_list-item-text text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, repudiandae.
            </div>
            <div class="ourServices_list-item-img d-flex justify-content-center my-3">
                <img src="../img/a95.svg" alt="">
            </div>
        </div>

        <div class="ourSevices__list-item p-3">

            <div class="ourServices_list-item-title h5 text-center my-3">
                Расчет бруса
            </div>
            <div class="ourServices_list-item-text  text-center">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, repudiandae.
            </div>
            <div class="ourServices_list-item-img d-flex justify-content-center my-3">
                <img src="../img/a96.svg" alt="">
            </div>
        </div>

    </div>
</div>

<div class="ourAdvantages d-flex flex-column my-5 text-secondary">
    <div class="ourAdvantages__title font-weight-bold h3">
        Наши преимущества
    </div>

    <div class="ourAdvantages__list mt-3">
        <div class="ourAdvantages__list-mask d-flex justify-content-between">
            <div class="ourAdvantages__list-items d-flex flex-column align-items-center justify-content-center ml-5">
                <div class="ourAdvantages__list-item p-3  my-3 d-flex bg-white w-100">
                    <div class="ourAdvantages__list-item-img">
                        <img src="../img/a102.svg" alt="">
                    </div>
                    <div class="ourAdvantages__list-item-title pl-3 d-flex align-items-center">
                        Быстро
                        <br />
                        Экономия времени и ресурсов
                    </div>
                </div>

                <div class="ourAdvantages__list-item p-3  my-3 d-flex bg-white w-100">
                    <div class="ourAdvantages__list-item-img">
                        <img src="../img/a95.svg" alt="">
                    </div>
                    <div class="ourAdvantages__list-item-title pl-3 d-flex align-items-center">
                        Удобно
                        <br />
                        Легкость и понятность в использовании
                    </div>
                </div>

                <div class="ourAdvantages__list-item p-3  my-3 d-flex bg-white w-100">
                    <div class="ourAdvantages__list-item-img">
                        <img src="../img/a100.svg" alt="">
                    </div>
                    <div class="ourAdvantages__list-item-title pl-3 d-flex align-items-center">
                        Качественно
                        <br />
                        Только актуальная и проверенная информация
                    </div>
                </div>
            </div>

            <div class="ourAdvantages-banner">
                <img class='ourAdvantages-banner-img' src="../img/doma-iz-kirpicha.png" alt="">
            </div>
        </div>
    </div>
</div>