@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="love_baha">На этой странице идет body</h1>
    <ul>
        <li>Можно добавлять стили в папке wwwroot/css/site.css</li>
        <li>Все доступные страницы бара находятся в папке Views/Home/Caclulator</li>
        <li>Верска хедера и футера находится в Views/Shared/_Layout.cshtml</li>
        <li>Функция RenderBody() помещает страницы в body файла _Layout.cshtml</li>
    </ul>
</div>
