@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="love_baha">На этой странице идет body</h1>
        <ul>
            <li>Можно добавлять стили в папке wwwroot/css/site.css</li>
            <li>Все доступные страницы бара находятся в папке Views/Home/Caclulator</li>
            <li>Верска хедера и футера находится в Views/Shared/_Layout.cshtml</li>
            <li>Функция RenderBody() помещает страницы в body файла _Layout.cshtml</li>
        </ul>
    </div>*@


<div class="ourServices d-flex flex-column my-5 text-secondary">
    <div class="ourServices__title font-weight-bold h3">
        Наши услуги
    </div>

    <div class="ourServices__list d-flex mt-3">

        <div class="ourSevices__list-item p-3 mr-3">

            <div class="ourServices_list-item-title h5 text-center my-3">
                Lorem ipsum dolor sit amet
            </div>
            <div class="ourServices_list-item-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, repudiandae.
            </div>

            <div class="ourServices_list-item-img d-flex justify-content-center my-3">
                <img src="img/a93.svg" alt="">
            </div>
        </div>

        <div class="ourSevices__list-item p-3  mr-3">

            <div class="ourServices_list-item-title h5 text-center my-3">
                Lorem ipsum dolor sit amet
            </div>
            <div class="ourServices_list-item-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, repudiandae.
            </div>
            <div class="ourServices_list-item-img d-flex justify-content-center my-3">
                <img src="img/a95.svg" alt="">
            </div>
        </div>

        <div class="ourSevices__list-item p-3  mr-3">

            <div class="ourServices_list-item-title h5 text-center my-3">
                Lorem ipsum dolor sit amet
            </div>
            <div class="ourServices_list-item-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, repudiandae.
            </div>
            <div class="ourServices_list-item-img d-flex justify-content-center my-3">
                <img src="img/a96.svg" alt="">
            </div>
        </div>

        <div class="ourSevices__list-item p-3 ">

            <div class="ourServices_list-item-title h5 text-center my-3">
                Lorem ipsum dolor sit amet
            </div>
            <div class="ourServices_list-item-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit, repudiandae.
            </div>
            <div class="ourServices_list-item-img d-flex justify-content-center my-3">
                <img src="img/a97.svg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="ourAdvantages d-flex flex-column my-5 text-secondary">
    <div class="ourAdvantages__title font-weight-bold h3">
        Наши преимущества
    </div>

    <div class="ourAdvantages__list mt-3">
        <div class="ourAdvantages__list-mask d-flex justify-content-between">
            <div class="ourAdvantages__list-items d-flex flex-column align-items-center justify-content-center ml-5">
                <div class="ourAdvantages__list-item p-3  my-3 d-flex bg-white">
                    <div class="ourAdvantages__list-item-img">
                        <img src="img/a102.svg" alt="">
                    </div>
                    <div class="ourAdvantages__list-item-title pl-3 d-flex align-items-center">
                        ourAdvantages__list-item-title
                    </div>
                </div>

                <div class="ourAdvantages__list-item p-3  my-3 d-flex bg-white">
                    <div class="ourAdvantages__list-item-img">
                        <img src="img/a95.svg" alt="">
                    </div>
                    <div class="ourAdvantages__list-item-title pl-3 d-flex align-items-center">
                        ourAdvantages__list-item-title
                    </div>
                </div>

                <div class="ourAdvantages__list-item p-3  my-3 d-flex bg-white">
                    <div class="ourAdvantages__list-item-img">
                        <img src="img/a100.svg" alt="">
                    </div>
                    <div class="ourAdvantages__list-item-title pl-3 d-flex align-items-center">
                        ourAdvantages__list-item-title
                    </div>
                </div>

                <div class="ourAdvantages__list-item p-3  my-3 d-flex bg-white">
                    <div class="ourAdvantages__list-item-img">
                        <img src="img/a99.svg" alt="">
                    </div>
                    <div class="ourAdvantages__list-item-title pl-3 d-flex align-items-center">
                        ourAdvantages__list-item-title
                    </div>
                </div>
            </div>

            <div class="ourAdvantages-banner">
                <img src="img/sla_4_0.webp" alt="">
            </div>
        </div>
    </div>
</div>