@{
    ViewData["Title"] = "Информация";
}


<div class="about-block text-secondary">

    <div class="about-block-title font-weight-bold h3 text-center text-secondary lightViolet py-3">
        <span>О сервисе</span>
    </div>
    <div class="lineAfter">
        <a asp-controller="Home" asp-action="Index">Назад</a>
    </div>

    <div class="about-block-content">
        <div class="lightViolet p-5">
            <div class="about-block-content-articles-list">
                <div class="about-block-content-articles-list-item h5">
                    <img src="../img/benefit-1.jpg" style="height:100px;border-radius: 30px;"/>
                    <div>
                        Наш онлайн-сервис позволяет сэкономить время на самостоятельные расчеты,
                        а также на расходы работ проектировщиков, сметчиков и т.д.
                        Ведь сейчас время-ценный ресурс, поэтому если можно облегчить себе работу,
                        то нужно пользоваться этим. А наш сайт с абсолютной точностью Вам это обеспечит!
                    </div>
                </div>
                <div class="about-block-content-articles-list-item h5">
                    <img src="../img/benefit-2.jpg" style="height:100px;border-radius: 30px;"/>
                    <div>
                        Удобство в использовании является важным факторов, который в нашем сервисе точно обеспечен.
                        Минималистичный дизайн, который не надоедает, понятность и легкость в вводе параметров.
                        Также имеется информация специально для того, чтобы каждый строитель мог изучить и применить данную информацию в расчетах.
                    </div>
                </div>
                <div class="about-block-content-articles-list-item h5">
                    <img src="../img/benefit-3.jpg" style="height:100px;border-radius: 30px;"/>
                    <div>
                        Наш сервис с точностью выполнит любой расчёт.
                        Мы используем только качественную и проверенную информацию, только из достоверных источников.
                        Будьте уверены в том, что расчет стен будет производиться без ошибок,
                        а если и найдете или у вас возникнут вопросы, то обязательно сообщите нам! Ведь нам важно  качество работы.
                    </div>
                </div>
                Владелец проекта: @ViewBag.Author
            </div>
        </div>
    </div>
    <div class="about-block-form my-5">
        <div class="about-block-form-title font-weight-bold h4 text-center mb-5">
            Оставить отзыв о сервисе
        </div>
        <div class="form-content">
            <span class="h5">Ваш email:</span>
            <input type="text" class="mb-3" placeholder="primer@primer.ru">

            <span class="h5">Ваш отзыв:</span>
            <textarea class="mb-3" cols="30" rows="10" placeholder="Очень удобный сервис!"></textarea>

            <button class="form-submitBtn h5 text-secondary">Отправить</button>
        </div>
    </div>
</div>
